<h1>Here's the Car!</h1>
<p>Make Model: @Model.GetMakeModel()</p>
<p>Car Price: @Model.GetPrice()</p>
<p>Car Miles: @Model.GetMiles()</p>
<p>Car Color: @Model.GetColor()</p>
<p>Car Description: @Model.GetDescription()</p>
