<h1>List of Cars</h1>
<ol>
  @foreach (var car in Model)
  {
    <li>
      <h4>Make Model: @car.GetMakeModel()</h4>
      <p>Car Price: @car.GetPrice()</p>
      <p>Car Miles: @car.GetMiles()</p>
      <p>Car Color: @car.GetColor()</p>
      <p>Car Description: @car.GetDescription()</p>
    </li>
  }
</ol>
<a href="/">Add a new car.</a>
